backup/
*.pdf
*.docx
wetransfer_advertencia-sat_2022-07-01_0455.zip
datos-20221212T211618Z-001.zip
data-20221213T035341Z-001.zip
backup_data/
datos/
backup_data/
data/Advertencia_PDF/
data/alertas_NNA_sentences.csv
data/alertas_NNAJ_keywords
data/alertas_NNAJ_keywords.csv
data/alertas_reclutamiento_uso_NNAJ__.csv
data/alertas_NNA_sentences.csv
data/alertas_NNAJ_keywords
data/alertas_NNAJ_keywords.csv
